body{
  font-family:'Poppins',sans-serif;
  margin:0;
}
h2{
  font-size: 50px;
}
.green-color{
  color: green;
}
.flexible-container{
  display: flex;
  margin-bottom:100px;
}
.half-width{
  width:50%;
  padding-left: 3%;
}
 .half-width img{
width:80%;
}

.top banner{
 width:50px;
  background-repeat: no-repeat;
  height:50%;
}
।
.orange-color{
  color:orange;
}
.link-button{
  text-decoration: none;
  background-image:linear-gradient(orange,tomato);
  padding:10px 40px;
  color:white;
  font-weight:700;
  border-radius:10px;
  
}
h3{

  text-align:right;
}
h4{
  text-align: right;
}
.b{
  text-align: center;
}
.blue-color{
  color:blue;
  text-align:center;
}
footer p{
  Stay healthy live healthy live happily
}
.go{
  text-align:center;
}
.Mom{
  text-align: center;
  
}
.Bom{
  text-align:center;
 
}
.tittle-baba{
  display:flex;
  padding left:3%;
}
.Majkhan{
  text-align:center;
  background-color:Green;
  height:30px;
}
h5{
  text-align:center;
  background-color:green;
  height:20px;
}
